<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="content">
      <header class="bg-white">
        <div
          class="w-100 mw8 ph4-l ph3 center pt3 pb4-l pb3 flex items-baseline flex flex-column flex-row-l"
        >
          <a href="/" class="dib f2 f3-ns fw6 link black hover-uw-red">
            <picture>
              <!-- <source
                srcset="{{ '/assets/Badger_1.svg' | relative_url }}"
                type="image/svg+xml"
              />
              <source
                srcset="{{ '/assets/logo-light.webp' | relative_url }}"
                type="image/webp"
              /> -->
              <source
                srcset="{{ '/assets/uw-crest-web.png' | relative_url }}"
                type="image/png"
              />
              <img
                alt="The UW-Madison logo."
                class="pl2 pr2 w2"
                style="margin-bottom: -1rem"
              />
            </picture>
            Mad Collab
          </a>
          <nav
            class="mt3 ml-auto-ns lh-copy w-auto-ns w-100 flex flex-column flex-row-ns f4 f5-ns"
          >
            <div class="tc mt0-ns mt2">
              <a
                class="ml4-l ml3-m pa0-ns ph2 pv1 b black hover-uw-red link dib"
                href="{{ '/about' | relative_url }}"
                >About</a
              >
              <a
                class="ml4-l ml3-m pa0-ns ph2 pv1 b black hover-uw-red link dib"
                href="{{ '/team' | relative_url }}"
                >Team</a
              >
              <a
                class="ml4-l ml3-m pa0-ns ph2 pv1 b black hover-uw-red link dib"
                href="{{ '/publications' | relative_url }}"
                >Publications</a
              >
            </div>
            <div class="tc">
              <!-- <a
                class="ml5-l ml3-m pa0-ns ph2 pv1 b black hover-uw-red link dib"
                href="https://github.com/MadCollab"
                ><i class="fab fa-github mr2"></i>GitHub</a
              > -->
              <!-- <a
                class="ml4-l ml3-m pa0-ns ph2 pv1 b black hover-uw-red link dib"
                href="https://twitter.com/"
              >
                <i class="fab fa-twitter mr2"></i>Twitter</a
              > -->
            </div>
          </nav>
        </div>
      </header>

      <main>
        {{ content }}
      </main>
    </div>

    <footer class="bt uw-gray-darkest white mt5 flex-shrink-0">
      <div class="w-100 mw8 ph4-l ph3 center pv5">
        <div class="flex flex-row-ns flex-column">
          <div class="w-third-ns">
            <h4 class='white mt0-ns'>Hello from Madison, WI.</h4>
            <div class="pv1">
              <a
                href="{{ '/team' | relative_url }}"
                class="link white dim underline"
                >Come join us!</a
              >
            </div>
            <div class="pv1">
              <a
                href="https://github.com/MadCollab/madcollab.github.io/edit/master/{{
                  page.path
                }}"
                class="link white dim"
                >Edit this page</a
              >
            </div>
            <!-- <div class="pv1">
              We are
              <a href="https://twitter.com/" class="link white dim"
                >@</a
              >
              on Twitter.
            </div> -->
            <div class="pv1">
              <abbr
                title="Last build on {{ site.time | date: '%Y-%m-%d' }}"
                class="white"
                style="text-underline-position: under"
                >{{ site.time | date: "%B %Y" }}</abbr
              >
            </div>
          </div>
          <div class="w-third-ns">
            <h4 class="white mt0-ns">Links</h4>
            <ul class="list pl0">
              <li>
                <a href="https://github.com/MadCollab" class="link white dim pv1 dib"
                  >Group GitHub</a
                >
              </li>
              <li>
                <a href="https://www.ischool.wisc.edu" class="link white dim pv1 dib"
                  >Information School</a
                >
              </li>
              <li>
                <a href="https://www.wisc.edu/" class="link white dim pv1 dib"
                  >University of Wisconsin</a
                >
              </li>
            </ul>
          </div>
          <div class="w-third-ns">
            <picture>
              <source
                srcset="{{ '/assets/outline-center-UWlogo-print.png' | relative_url }}"
                type="image/png"
              />
              <img
                alt="The UW-Madison logo."
                class=""
                width='180px'
              />
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
